@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  html, body { 
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100%;
  }
  
  #navbar { 
    border-right: 1px solid black;
    height: 100%;
    width: 250px;
    overflow: auto;
    position: fixed;
  }
  
  nav > header {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
  }
  
  nav > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    display: block;
  }
  
  nav > ul > li {
    border-bottom: 1px solid black;
    font-size: 20px; 
    padding: 20px;
  }
  
  .nav-link { 
    text-decoration: none;
    color: 5C5C5C;
  }
  
  .nav-link:hover {
    color: blue;
  }
  
  #main-doc {
    padding: 20px;
    margin-left: 250px;
    float: right;
    overflow: auto;
  }
  
  .main-section > header { 
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
  }
  
  p {
    padding-left: 20px;
    color: #5C5C5C;
  }
  
  .main-section > ul {
    padding-left: 90px;
    color: #5C5C5C;
  }
  
  code {
    display: block;
    text-align: left;
    background-color: #EBEBEB;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    color: red;
  }
  